<!DOCTYPE html>
<html lang="en">
<head>
</head>

<style>

</style>

<body>

    <div class="email-background" style="padding: 10px">
    <div class="email-container" style="max-width: 500px;margin: 0 auto">
        <img src="http://drive.google.com/uc?export=view&id=1jlY5wpXYgRIfKvt2ckQJAJkoos05cePh" title="1x">

        <p style="text-align: center; font-size: 30px">Bienvenido a </p>
        <p STYLE="text-align: center; font-family: Helvetica, sans-serif; font-size: 30px">SILBERE</p>

        <p>En Silbere puedes compartir tus mejores tips relacionados con sexo.</p>


        <div style="width: 350px; height: 395px; background-color: #2C2C2C">
            <img src="http://drive.google.com/uc?export=view&id=11FHyLHg_pl_qUdwGfRQhunrpNxKx6JWy" style="width: 100%; height: auto">
            <div style="color: white">
                <p style="text-align: center">Top posiciones</p>
                <p style="padding-left: 8px">@silvano</p>
                <p style="padding-left: 8px">
                    5 <img src="http://drive.google.com/uc?export=view&id=1iyEMUO63gvEuYu1zLYWi3SpUzCbU6tWs" width="30" height="30" class="penis_icon">
            0 <img src="http://drive.google.com/uc?export=view&id=1IwWo_KmqZ_DSPiM1hf-7INmrzxl7VNye" width="30" height="30" class="penis_icon">
            9 comentarios</p>
            </div>
        </div>

        <br>
        <br>


        <div style="width: 350px; height: 315px; background-color: #1b8dbb">
            <img src="http://drive.google.com/uc?export=view&id=1mQ0hqiyJU64BI7BLH06DfQbCXAl2diGo" style="width: 100%; height: auto">
            <div>
                <p style="text-align: center">Peores posiciones</p>
                <p style="padding-left: 8px">@berenise</p>
                <p style="padding-left: 8px">
                    9 <img src="http://drive.google.com/uc?export=view&id=1iyEMUO63gvEuYu1zLYWi3SpUzCbU6tWs" width="30" height="30" class="penis_icon">
            1 <img src="http://drive.google.com/uc?export=view&id=1IwWo_KmqZ_DSPiM1hf-7INmrzxl7VNye" width="30" height="30" class="penis_icon">
            12 comentarios</p>
                </p>
            </div>
        </div>


    </div>
    </div>

</body>
</html>