<!DOCTYPE html>
{% extends 'main.html' %}
{% block body_block %}
        <div class="jumbotron jumbotron-fluid">
  <div class="container">

        <div class="alert alert-primary" role="alert">
      <h5>Entre más videos envies mayor la posibilidad de ganar!</h5>
        </div>

        <div class="alert alert-success" role="alert">
      <h5>Cómo ganar?</h5>
            <p>Video con mayor puntuación</p>
            <p>Al final si varios videos tienen las misma puntuación se elegirá al azar</p>
        </div>

      <h4>Requisitos</h4>
      <p class="lead">El video tiene que tener una duración de al menos 3 minutos o más</p>
      <p class="lead">Solo mayores de +12 años</p>
      <p class="lead">Solo se permite usar shorts, leggings, falda, traje de baño o ropa interior</p>
      <p class="lead">No tienes que enseñar la cara si asi lo deseas, no afecta tu puntuación</p>

      <h4>Cómo se califica el video</h4>
      <p class="lead">Creatividad - Máximo de 5 puntos</p>
      <p class="lead">Sensualidad/sexi - Máximo de 7 puntos</p>
      <p class="lead">Calidad del video/claridad - Máximo de 5 puntos</p>

      <h4>Calificación de atuendo/outfit</h4>
      <p class="lead">Shorts - Máximo de 5 puntos</p>
      <p class="lead">Leggings - Máximo de 5 puntos</p>
      <p class="lead">Falda - Máximo de 6 puntos</p>
      <p class="lead">Traje de baño/ropa interior - Máximo de 6 puntos</p>

        <div class="alert alert-success" role="alert">
      <h4>Forma de pago</h4>
      <p class="lead">Si eres la ganadora de algunos de los 3 premios se te contactará por Instagram o por correo elctronico para hacer el pago através de Zoom.com</p>
        </div>


  </div>
</div>




{% endblock %}